//
//  Secret.xcconfig
//  ChungBazi
//
//  Created by 이현주 on 2/10/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

API_BASE_URL = https:/$()/chungbazi.shop/api
AMPLITUDE_KEY = d612c6eb890f9ba22414c98f50bb8954
KAKAO_NATIVE_APP_KEY = e7251a44c3dd5dc66593c8ed8307ee1b
KAKAO_URL_SCHEME = kakao$(KAKAO_NATIVE_APP_KEY)
APPSTORE_URL = https:/$()/apps.apple.com/kr/app/청바지/id6753987371
CONTACT_FORM_URL = https:/$()/forms.gle/7XGnZof7Jwdvgyzs5
